{% extends "layout.html" %} {% block content %}
<h2>找回密码</h2>
<div class="account">
  <div class="ui large right action left icon input" style="width: 100%;">
    <input type="text" placeholder="邮箱">
    <i class="mail icon"></i>
    <button class="ui button">验证</button>
  </div>
  <div class="ui large left icon input" style="width: 100%; margin-top:12px;">
    <input type="text" placeholder="验证码">
    <i class="calculator icon"></i>
  </div>
  <div class="ui large left icon input" style="width: 100%; margin-top:12px;">
    <input type="password" placeholder="新密码">
    <i class="unlock alternate icon"></i>
  </div>
  <div class="ui large left icon input" style="width: 100%; margin-top:12px;">
    <input type="password" placeholder="重复新密码">
    <i class="unlock alternate icon"></i>
  </div>
  <div class="ui large animated positive button" tabindex="0" style="width: 100%; margin-top:22px; background-color: rgb(87, 179, 130)">
    <div class="visible content">确 认</div>
    <div class="hidden content">
      $12.99 a month
    </div>
  </div>
  <div class="tip">
    <a href="/admin/login"><span><i class="fa fa-chevron-left"></i> 直接登录</span></a>
  </div>
</div>
{% end %}
