<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- <link rel="icon" href="/static/favicon.png?v=2" type="image/x-icon" /> -->
  <title>Marks</title>
  {% block style_before %} {% end %}
  <!-- Semantic UI -->
  <link rel="stylesheet" href="{{static_url('components/semantic/dist/semantic.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('components/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}">
  <!-- style -->
  {% block style %} {% end %}
</head>

<body>
  {% include "sidebar.html" %}
  This is the body
  {% include "footer.html" %}
  <script type="text/javascript" src="{{static_url('components/vue/dist/vue.min.js')}}"></script>
  <script type="text/javascript" src="{{static_url('components/jquery/dist/jquery.min.js')}}"></script>
  {% block js %} {% end %}
</body>

</html>
