<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Qing</title>
  {% block before_style %} {% end %}
  <!-- Semantic UI -->
  <link rel="stylesheet" href="{{static_url('components/semantic/dist/semantic.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('components/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{static_url('css/common.css')}}"> {% block style %} {% end %}
</head>

<body>
  {% include "navbar.html" %}
  {% include "sidebar.html" %}
  <div class="pane-content">
    <div class="pane" id="app">
      {% block content %} {% end %}
    </div>
  </div>
  <script type="text/javascript" src="{{static_url('components/vue/dist/vue.min.js')}}"></script>
  <script type="text/javascript" src="{{static_url('components/jquery/dist/jquery.min.js')}}"></script>
  <script type="text/javascript" src="{{static_url('components/semantic/dist/semantic.min.js')}}"></script>
  {% include "footer.html" %}
  {% block js %} {% end %}
</body>
</html>
