<div class="nav-global">
  <div>
    <div class="global-logo">
      <img src="{{static_url('img/logo.svg')}}"></img>
    </div>
    <div class="items-inner">
      <ul class="global-items">
        <li class="nav-item">
          <a class="nav-item-inner"><i class="fa fa-bell"></i><span>消息</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item-inner"><i class="fa fa-wrench"></i><span>帮助</span></a>
        </li>
        <li class="nav-item">
          <a href='/admin/logout' class="nav-item-inner"><i class="fa fa-user-circle-o"></i><span>账户</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item-inner"><i class="fa fa-history"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
