<div class="sidebar">
  <div class="zone-items">
    <h5>内容</h5>
    <ul>
      <li><a href="/admin"><i class="fa fa-file-text" aria-hidden="true"></i><span>文章列表</span></a></li>
      <li><a href="/admin/post"><i class="fa fa-edit" aria-hidden="true"></i><span>写文章</span></a></li>
      <li><a href="/admin/team"><i class="fa fa-group" aria-hidden="true"></i><span>团队</span></a></li>
      <li><a><i class="fa fa-tags" aria-hidden="true"></i><span>标签</span></a></li>
      <li><a><i class="fa fa-info" aria-hidden="true"></i><span>使用说明</span></a></li>
      <li><a href="/admin/trash"><i class="fa fa-trash" aria-hidden="true"></i><span>草稿箱</span></a></li>
    </ul>
  </div>
  <div class="zone-items">
    <h5>基本</h5>
    <ul>
      <li><a><i class="fa fa-server" aria-hidden="true"></i><span>服务器</span></a></li>
      <li><a><i class="fa fa-warning" aria-hidden="true"></i><span>通知列表</span></a></li>
      <li><a><i class="fa fa-key" aria-hidden="true"></i><span>API接口</span></a></li>
      <li><a href="/admin/settings"><i class="fa fa-plug" aria-hidden="true"></i><span>设置</span></a></li>
    </ul>
  </div>
</div>
